/* Common */
html {
  background: url('../images/Beijing-International-Capital-Airport-Seats-Window-Terminal-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

body { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
}

p {
  font-size: 1.25em;
}

/* Overlay */

.overlay {
  display: block;
  background:#7f7f7f;
  background:rgba(255,255,255,0.9);
  width: 600px;
  margin: auto;
}

.container {
  display: block;
  width: 500px;
  margin: 50px auto 0;
  padding: 30px 0;
}

/* Header */

.header {
  margin-top: 75px;
}

.header h1 {
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 3.75em;
  font-weight: 700;
  text-shadow: 1px 1px black;
  color: white;
}

.header p {
  margin-top: 0.5em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 1px 1px black;
  color: white;
}

/* Question */

.question p {
  font-weight: 400;
}

/* Answers */

.answers {
  margin-top: 1.75em;
  text-align: left;
}

.answers input {
  margin-right: 20px;
  margin-bottom: 1em;
}

/* Feedback */

.feedback {
  margin-top: 40px;
}

.incorrect {
  color: #CF2323;
}

.correct {
  color: #0FC57C;
}

.correct, .incorrect, .totalscore {
  display: none;
}

/* Nav Arrow*/

.navarrow {
  padding-top: 20px;
}
