#important-events h1 {
  background: teal;
}

#important-events li {
  background: steelblue;
}

/* Select only p elements that are direct children of the section elements */
section > p {
  background: yellow;
}