html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  text-align: center;
}

#container {
  max-width: 60%;
}

#map-canvas {
  width: 60%;
  height: 60%;
  margin: 0 auto 25px auto;
}

#header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  margin-top: 30px;
}

#header p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 25px;
}

#search {
  margin-bottom: 25px;
}

#footer img {
  vertical-align: -65%;
}

#footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}